= form_for @student, class: "form-inline" do |f|
  .form-group
    = f.label :student_id
    = f.text_field :student_id, class: "form-control"
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :grade_level
    = f.text_field :grade_level, class: "form-control"
  .form-group
    = f.label :gender
    = f.select "gender",[["male", "male"], ["female", "female"], ["transgender", "transgender"], ["other", "other"]], {}, class: "form-control"
  .form-group
    = f.label :gpa
    = f.text_field :gpa, class: "form-control"
  .form-group
    = f.label :detention_count
    = f.text_field :detention_count, class: "form-control"
  .form-group
    = f.label :shirt_size
    = f.select "shirt_size", [["xs", "xs"], ["s", "s"], ["m", "m"], ["l", "l"], ["xl", "xl"]], {}, class: "form-control"
  .form-group
    = f.label :food_allergies
    = f.text_area :food_allergies, class: "form-control"
  .form-group
    = f.submit class: "form-control btn btn-success"