%table.table
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      %th GPA
      %th Detention Count
  %tbody
    - students.each do |student|
      %tr
      %td= link_to student.full_name, student_path(student)
      %td= student.grade_level
      %td= student.gender
      %td= student.gpa
      %td= student.detention_count
      %td
        %button= link_to '', "#", class: "glyphicon glyphicon-plus",  method: :post
      %td
        %button= link_to "Remove", "#", class: "btn btn-secondary",  method: :post