%table.table.table-inverse
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      %th Teacher
      %th GPA
      %th Detention Count
  %tbody
    - students.each do |student|
      %tr
        %td
          %strong= link_to student.full_name, student_path(student)
        %td= student.grade_level
        %td= student.gender
        - if student.mentor_id == nil
          %td Unassigned
        - else
          %td= link_to student.mentor.full_name, teacher_path(student.mentor)
        %td= student.gpa
        %td= student.detention_count
        - if not_assigned?(student)
          %td
            %button.btn.btn-secondary= button_to 'Add', student_teacher_path(student, current_teacher),  method: :patch
        - elsif my_student?(student)
          %td
            %button.btn.btn-secondary= button_to "Remove", remove_student_teacher_path(student, current_teacher), method: :patch
        - else
          %td
            %button.btn.btn-secondary{:disabled => "disabled", :type => "button"} Assigned
