%table.table
  %thead
    %tr
      %th Student Name
      %th Teacher
      %th Grade
      %th Gender
      %th GPA
      %th Detention Count
  %tbody
    %tr
      %td.col-md-2= student.full_name
      %td.col-md-2= student.mentor.full_name
      %td.col-md-1= student.grade_level
      %td.col-md-2= student.gender
      %td.col-md-1= student.gpa
      %td.col-md-2= student.detention_count
      %td.col-md-1= link_to '', "#", class: "glyphicon glyphicon-plus"
      %td.col-md-1= link_to '', "#", class: "glyphicon glyphicon-minus"