%table.table.table-inverse
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      %th GPA
      %th Detention Count
  %tbody
    - @students.each do |student|
      %tr
        %td
          %strong= link_to student.full_name, student_path(student)
        %td= student.grade_level
        %td= student.gender
        %td{:class => color_indicate_gpa_range(student)}= student.gpa
        %td= student.detention_count
        - if not_assigned?(student)
          %td
            = button_to 'Add', student_teacher_path(student, current_teacher),  method: :patch, class: "btn btn-secondary"
        - elsif my_student?(student)
          %td
            = button_to "Remove", remove_student_teacher_path(student, current_teacher), method: :patch, class: "btn btn-secondary"
        - else
          %td
            %button.btn.btn-secondary{:disabled => "disabled", :type => "button"} Assigned

