%table.table.table-inverse
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      %th GPA
      %th Detention Count
  %tbody.rowlink{"data-link" => "row"}
    - students.each do |student|
      %tr
        %td
          %strong= link_to student.full_name, student_path(student)
        %td= student.grade_level
        %td= student.gender
        %td= student.gpa
        %td= student.detention_count
        - if not_assigned?(student)
          %td.rowlink-skip
            %button= link_to 'Add', "#", class: "btn btn-secondary",  method: :post
        - else
          %td.rowlink-skip
            %button= link_to "Remove", "#", class: "btn btn-secondary",  method: :post
