/ add picture at some point
/ edit info
/ delete self

%h2= @teacher.full_name
%p= @teacher.email
/ weheeew
= render '/students/table', locals: { students: @students }
= button_to "Remove #{@teacher.full_name}", teacher_path, method: :delete, class: "btn btn-danger"
