!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StrangerTeams
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'jansy-bootstrap.min'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jansy-bootstrap.min'

  %body
    #flash-container.container
      - if flash[:notice]
        %p.notice= notice
      - if flash[:alert]
        %p.alert= alert
    %header#header.container
      %nav.navbar.navbar-default
        %ul.nav.navbar-nav
          %li.nav-left= link_to "Home", root_path
          - if teacher_signed_in?
            %li.nav-left= link_to "All Teachers", teachers_path
            %li.nav-left= link_to "All Students", root_path
            %li.nav-left= link_to "Add Student", new_student_path
            %li.nav-left= link_to "Bulk Import", students_import_path
            / Nav left and nav right seem not to be working
            %li.nav-right= link_to "Profile", teacher_path(current_teacher)
            %li.nav-right= link_to "Logout", destroy_teacher_session_path, method: :delete
          - else
            %li.nav-right= link_to "Register", new_teacher_registration_path
            %li.nav-right= link_to "Log In", teacher_session_path
      = image_tag("/app/assets/images/StrangerTeams_488x135.png")
    = yield
